@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&display=swap");

//Globals
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #262626;
  --light: #ccc;
  --faded: #999;
  --accent: #bf8416;
  --playerOne: #61b8da;
  --playerTwo: #76d289;
  --paddingS: 0.5em;
  --padding: 1em;
  --paddingL: 2em;
}
noscript {
  p {
    position: absolute;
  }
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--accent);
  font: inherit;
  color: inherit;
  padding: var(--paddingS);
  font-size: 0.8em;
}
button {
  background: transparent;
  border: none;
  font: inherit;
  text-transform: uppercase;
  color: inherit;
}
html,
body {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--light);
  width: 100vw;
  height: 100vh;
}
.root {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--dark), #111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.room_full_error {
  color: var(--faded);
  margin-top: var(--padding);
}
.go_back_btn {
  display: flex;
  align-items: center;
}
.go_back_arrow {
  width: 30px;
  margin-right: var(--paddingS);
  transform: rotateZ(180deg);
}
.join_room_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join_room_btn {
  display: flex;
  align-items: center;
  margin-top: var(--padding);
}
.join_arrow {
  margin-left: var(--paddingS);
  width: 30px;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr 0.5fr 7fr 0.5fr 1fr;
  grid-template-areas:
    "title"
    "subheading"
    "game"
    "spacer"
    "info";
  place-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--dark), #111);
}

.title {
  font-weight: 300;
  font-size: 1.2em;
  a {
    text-decoration: none;
    color: inherit;
  }
}
.subheading {
  color: var(--faded);
  font-size: 0.8em;
}

.game_wrapper {
  height: 300px;
  width: 350px;
  padding: var(--paddingS);
  box-shadow: 0px 0px 5px var(--faded);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  place-items: center;
  gap: var(--paddingS);
  grid-auto-flow: column;
  border-radius: 10px;
  &.flashRed {
    animation: flashRed 0.5s ease;
  }
}
@media only screen and(max-width:400px) {
  .game_wrapper {
    width: 280px;
    height: 240px;
  }
}

.game_loading {
  grid-column: 1/8;
  grid-row: 1/7;
}

.cell {
  width: 100%;
  height: 100%;
  background: var(--faded);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  place-items: center;
}
.playerText {
  color: var(--faded);
  padding: var(--paddingS);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  opacity: 0.1;
  box-shadow: 0px 4px transparent;
  &.selected {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
    &.one {
    }
    &.two {
    }
  }
}

@keyframes flashRed {
  0% {
    box-shadow: 0px 0px 5px var(--faded);
  }
  50% {
    box-shadow: 0px 0px 5px red;
  }
  100% {
    box-shadow: 0px 0px 5px var(--faded);
  }
}
